<div id="wrapper">

  <!-- Header -->
  <header id="header">
    <div class="logo">
      <span class="icon fa-gem"></span>
    </div>
    <div class="content">
      <div class="inner">
        <h1>Employee Dashboard</h1>
      </div>
    </div>
    <nav>
      <ul>
        <li><button type="button" id="employeewebcam">Webcam</button></li>
        <li><button type="button" id="employeecheckin">Check in</button></li>
      </ul>
    </nav>
    <h3> Select Your Name</h3>
    <select id="employeeList">
    </select>
  </header>


  <!-- Footer -->
  <footer id="footer">
    <p class="copyright">&copy; Untitled. Design: <a href="#">JEDI</a>.</p>
  </footer>

</div>
<script src="/js/employeedashboard.js"></script>
{{!-- <script src="/js/dashboard.js"></script>
<script src="/js/addEmployee.js"></script> --}}