<div id="wrapper">

  <!-- Header -->
  <header id="header">
    <div class="logo-header">
      <a href="/"><img src="/imgs/FaceInLogo.png"></a>
    </div>
    <nav>
      <ul>
        <li><button type="button" id="checkInButton">Check In / Check out</button></li>
      </ul>
    </nav>
    <div class="container" id="capture">
      <video id="video" width="720" height="560" autoplay muted></video>
    </div>
    <ul id="example-list" class="list-group">
      {{#each examples}}
      <li data-id="{{this.id}}" class="list-group-item">
        <a href="example/{{this.id}}">{{this.text}}</a>
        <button class="btn btn-danger float-right delete">ｘ</button>
      </li>
      {{/each}}
    </ul>
  </header>

  <!-- Footer -->
  <footer id="footer">
    <p class="copyright">&copy; JEDI </p>
  </footer>

</div>

<script src="/js/index.js"></script>
<script src="/js/face-api.min.js"></script>
<script src="/js/faceRecogniser.js"></script>
{{!-- <script src="/js/imageProcessor.js"></script> --}}