<!DOCTYPE HTML>
<html>

<head>
  <title>Returns of JEDI</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="styles/main.css" />
  <noscript>
    <link rel="stylesheet" href="styles/noscript.css" /></noscript>
</head>

<body class="is-preload">
  {{{body}}}
  <!-- BG -->
  <div id="bg"></div>

  <!-- Scripts -->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/browser.min.js"></script>
  <script src="/js/breakpoints.min.js"></script>
  <script src="/js/util.js"></script>
  <script src="/js/main.js"></script>

</body>

</html>