<!-- Card provides form to enter train shedule -->
<div class="card mb-3 border-primaryn">
    <div class="card-header bg-primary text-white text-center">
        <b>Add Train</b>
    </div>
    <form name="frm" id="apply-form" class="m-2">
        <div class="form-group">
            <label for="inputTrainName">Train Name</label>
            <input type="Text" class="form-control" id="inputTrainName" placeholder="Enter Train Name" required />
        </div>
        <div class="form-group">
            <label for="inputDest">Destination</label>
            <input type="Text" class="form-control" id="inputDest" placeholder="Destination" required />
        </div>
        <div class="form-group">
            <label for="inputTranTime">First Train Time (HH:mm)</label>
            <input type="Text" class="form-control" id="inputTranTime" placeholder="train time" required />
        </div>
        <div class="form-group">
            <label for="inputFrequency">Frequency (min)</label>
            <input type="Text" class="form-control" id="inputFrequency" placeholder="Destination" required />
        </div>
        <button id="submitBtn" type="submit" class="btn btn-primary">
            Submit
        </button>
    </form>
</div>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/6.3.3/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-database.js"></script>