<div class="container">
  <!-- the jumbotron that holds the heading -->
  <div class="jumbotron text-white  text-center">
    <h1 class="display-4 font-weight-bold">Employer Dashboard</h1>
  </div>
  <div>

<a class="btn btn-large btn-info" href="/addEmployee">Add New Employee</a>
<a class="btn btn-large btn-info" href="templates/home.html">Browse</a>
<a class="btn btn-large btn-info" href="templates/home.html">Browse</a>
<a class="btn btn-large btn-info" href="templates/home.html">Browse</a>
  </div>
  

  <!-- Card that displays the train schedule -->
  <div class="card mb-3 border-primary text-center">
    <div class="card-header bg-primary text-white">
      <b>Current Employee Details</b>
    </div>
    <!-- table that holds the train data -->
    <div class="table-responsive pl-2 pr-2">
      <table class="table table-hover table-sm" id="train-table">
        <thead>
          <tr>
            <th scope="col">Train Name</th>
            <th scope="col">Destination</th>
            <th scope="col">Frequency (min)</th>
            <th scope="col">Next Arrival</th>
            <th scope="col">Minutes Away</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>


</div>




<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/6.3.3/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-database.js"></script>