<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link href="../public/styles/styles.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <form id="contact" action="" method="post">
        <h3>Employee Registration</h3>
        <h4>Register your employee details and image profile here</h4>
        <fieldset>
          <input
            id="empName"
            placeholder="Name"
            type="text"
            tabindex="1"
            required
            autofocus
          />
        </fieldset>
        <fieldset>
          <input
            id="empDept"
            placeholder="Department"
            type="text"
            tabindex="2"
            required
          />
        </fieldset>
        <fieldset>
          <input
            id="empPost"
            placeholder="Position"
            type="text"
            tabindex="3"
            required
          />
        </fieldset>
        <fieldset>
          <input
            id="empEmail"
            placeholder="Email Address"
            type="email"
            tabindex="4"
            required
          />
        </fieldset>
        <fieldset>
          <input
            id="empPhone"
            placeholder="Phone Number"
            type="tel"
            tabindex="5"
            required
          />
        </fieldset>
        <fieldset>
          <input
            id="empAddr"
            placeholder="Address"
            type="text"
            tabindex="6"
            required
          />
        </fieldset>
        <fieldset>
          <input
            id="empProf1"
            placeholder="Profile Image 1"
            tabindex="7"
            type="url"
            required
          />
        </fieldset>
        <fieldset>
          <input
            id="empProf2"
            placeholder="Profile Image 2"
            tabindex="8"
            type="url"
            required
          />
        </fieldset>
        <fieldset>
          <input
            id="empProf3"
            placeholder="Profile Image 3"
            tabindex="9"
            type="url"
            required
          />
        </fieldset>
        <fieldset>
          <button
            name="submit"
            type="submit"
            id="contact-submit"
            data-submit="...Sending"
          >
            Submit
          </button>
        </fieldset>
        <p class="copyright">
          Powered by
          <a
            href="https://josephcheok.github.io/Advanced-Portfolio"
            target="_blank"
            title="Face Check In"
            >Face Check In</a
          >
        </p>
      </form>
    </div>
  </body>
</html>
