<div id="wrapper">

  <!-- Header -->
  <header id="header">
    <div class="logo">
      <span class="icon fa-gem"></span>
    </div>
    <div class="content">
      <div class="inner">
        <h1>Project Name</h1>
        <p>A fully responsive site template designed by <a href="https://html5up.net">HTML5 UP</a> and released<br />
          for free under the <a href="https://html5up.net/license">Creative Commons</a> license.</p>
      </div>
    </div>
    <nav>
      <ul>
        <li><a href="#login">Login</a></li>
        <li><a href="#register">Register</a></li>
      </ul>
    </nav>
  </header>

  <!-- Main -->
  <div id="main">

    <!-- Login -->
    <article id="login">
      <h2 class="major">Login</h2>
      <form method="post" action="#">
        <div class="fields">
          <div class="field">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" />
          </div>
          <div class="field">
            <label for="password">Password</label>
            <input type="text" name="password" id="password" />
          </div>
        </div>
        <ul class="actions">
          <li><input type="submit" value="Login" class="primary" /></li>
          <li><input type="reset" value="Reset" /></li>
        </ul>
      </form>
    </article>


    <!-- Register -->
    <article id="register">
      <h2 class="major">Register</h2>
      <form method="post" action="#">
        <div class="fields">
          <div class="field half">
            <label for="cname">Comapny Name</label>
            <input type="text" name="cname" id="cname" />
          </div>
          <div class="field half">
            <label for="clogo">Company logo</label>
            <input type="file" name="pic" accept="image/*">
          </div>
          <div class="field half">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" />
          </div>
          <div class="field half">
            <label for="password">Password</label>
            <input type="text" name="password" id="password" />
          </div>
        </div>
        <ul class="actions">
          <li><input type="submit" value="Register" class="primary" /></li>
          <li><input type="reset" value="Reset" /></li>
        </ul>
      </form>
    </article>

  </div>

  <!-- Footer -->
  <footer id="footer">
    <p class="copyright">&copy; Untitled. Design: <a href="#">JEDI</a>.</p>
  </footer>

</div>