<!-- Jumbotron -->
     

<div class="jumbotron">
  <h1>Welcome To CheckIn</h1>
  <a href="/employer/login">Go to Employer Page</a><br>
  <a href="/">Go to Employee Interface</a>
  
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
