<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>This is our Home Page!</h2>
        {{!-- Image section --}}
        <div class="container" id="imageSection">
          <input type="file" id="imageUpload">
        </div>



      </div>
    </div>
  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/index.js"></script>
  <script src="/js/face-api.min.js"></script>
  {{!-- <script src="/js/faceRecognition.js"></script> --}}
  <script src="/js/imageProcessor.js"></script>
  {{!-- <script src="/js/script.js"></script> --}}